

html,
body {
    height:100%;
}


[hidden] {
    display:none !important;
}

.player-container {
    height: calc(100% - 64px);
    overflow:hidden;
    position:relative;
    background:#000000;
}

.player {
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
    height:100%;
    width:100%;
}

.login {
    margin:0 auto;
    width:500px;
}

.twitch-logo {
    width:80%;
    margin:25px auto;
}

.text-center {
    text-align:center;
}

.ellipsis {
    text-overflow:ellipsis;
    overflow:hidden;
    white-space:nowrap;
}

.progress {
    margin:0 auto;
}

.icon-label {
    position:relative;
    top:4px;
}