

html,
body,
.player {
    height:100%;
}

.login {
    margin:0 auto;
    width:500px;
}

.twitch-logo {
    width:80%;
    margin:25px auto;
}

.text-center {
    text-align:center;
}

.ellipsis {
    text-overflow:ellipsis;
    overflow:hidden;
    white-space:nowrap;
}

.progress {
    margin:0 auto;
}

.wcp-progress-bar {
    display:none;
}

.player .wcp-toolbar {
    height:30px;
}

.player .wcp-vol-control {
    top:0;
}

.player .wcp-vol-bar-full {
    background-color:#6917a1;
}

.player .wcp-button {
    margin-top:0;
}