

html,
body {
    height:100%;
}


.player {
    height: calc(100% - 64px);
}

.login {
    margin:0 auto;
    width:500px;
}

.twitch-logo {
    width:80%;
    margin:25px auto;
}

.text-center {
    text-align:center;
}

.ellipsis {
    text-overflow:ellipsis;
    overflow:hidden;
    white-space:nowrap;
}

.progress {
    margin:0 auto;
}

.wcp-progress-bar {
    display:none;
}

.player .wcp-toolbar {
    background:transparent;
    height:30px;
}

.player .wcp-vol-control {
    top:0;
    border-right:0;
}

.player .wcp-vol-bar-full {
    background-color:rgba(63, 81, 181, 1);
}

.player .wcp-button {
    margin-top:0;
}
