<!DOCTYPE HTML>
<html>
<head>
    <base href="/" />
    <title>Kraken</title>
    <link rel="stylesheet" href="lib/css/angular-material.min.css" />
    <link rel="stylesheet" href="lib/css/font-awesome.min.css" />
    <link rel="stylesheet" href="css/kraken.css" />
</head>
<body ng-app="kraken" ng-controller="AppController as app">

    <md-toolbar>
        <div class="md-toolbar-tools">
            <md-button class="md-icon-button" ng-click="app.menuOpen = !app.menuOpen" aria-label="toggle sidemenu">
                <md-icon class="fa fa-bars fa-2x"></md-icon>
            </md-button>
            <span flex></span>
            <md-button ng-show="app.user.stream && !app.user.watching" ng-click="app.return();" aria-label="return to stream">
                <md-icon class="fa fa-reply icon-label"></md-icon>
                <span>{{app.user.stream}}</span>
            </md-button>
            <span>{{app.user.name}}</span>
        </div>
    </md-toolbar>
    <md-sidenav class="md-sidenav-left" md-is-open="app.menuOpen">
        <md-toolbar class="demo-toolbar md-primary">
            <div class="md-toolbar-tools">
                <md-button ng-click="app.redirect('/index.html')">Kraken</md-button>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="app.menuOpen = !app.menuOpen" aria-label="close menu">
                    <md-icon class="fa fa-close"></md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-list>
            <md-list-item ng-click="app.redirect('/channels')">
                <md-icon class="fa fa-user"></md-icon>
                <p>Channels</p>
            </md-list-item>
            <md-divider md-inset></md-divider>
            <md-list-item ng-click="app.redirect('/games')">
                <md-icon class="fa fa-user"></md-icon>
                <p>Games</p>
            </md-list-item>
            <md-divider md-inset></md-divider>
            <md-list-item ng-click="app.redirect('/streams')">
                <md-icon class="fa fa-user"></md-icon>
                <p>Following</p>
            </md-list-item>
        </md-list>
    </md-sidenav>

    <div id="view" ng-viewport ng-show="!app.user.watching"></div>

    <div id="player" ng-show="app.user.watching" class="player-container" ng-controller="PlayerController as player">
        <div ng-show="player.buffering" class="progress-container">
            <md-progress-circular class="md-warn center progress-icon" md-diameter="100" md-mode="indeterminate"></md-progress-circular>
        </div>
        <div id="center" class="player">
            <canvas id="canvas" class="player"></canvas>
        </div>
        <md-toolbar id="playertoolbar" class="player-toolbar">
            <div class="md-toolbar-tools">
                <md-button ng-click="player.togglePlayback()" class="md-icon-button" aria-label="toggle playback">
                    <md-icon ng-show="!player.playing" class="fa fa-play"></md-icon>
                    <md-icon ng-show="player.playing" class="fa fa-pause"></md-icon>
                </md-button>
                <div flex="10">
                    <md-slider md-discrete ng-model="player.volume" ng-change="player.volumeChanged()" step="1" min="0" max="100" aria-label="volume"></md-slider>
                </div>
            </div>
        </md-toolbar>
    </div>


    <!--angular material dependencies-->
    <script src="lib/js/angular.min.js"></script>
    <script src="lib/js/angular-animate.min.js"></script>
    <script src="lib/js/angular-aria.min.js"></script>
    <script src="lib/js/angular-material.min.js"></script>

    <!--router-->
    <script src="lib/js/router.es5.min.js"></script>

    <!--kraken components-->
    <script src="js/kraken.js"></script>
    <script src="js/api.service.js"></script>
    <script src="js/user.service.js"></script>
    <script src="js/player.service.js"></script>
    <script src="js/app.controller.js"></script>
    <script src="js/player.controller.js"></script>
    <script src="components/home/home.controller.js"></script>
    <script src="components/streams/streams.controller.js"></script>
    <script src="components/channels/channels.controller.js"></script>
</body>
</html>
